#root {
  padding: 0 0;
}

#submitFilters{
  width: 10em;
  margin: 0 auto 1em auto;
}

.app {
  padding: 0 0;
}
.courseList{
  padding: 0 0;
}

.catalogHome{
  width: 100vw;
  height: 100vw;
  background-image: url("https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/growth_discovery/images/root/learner-cup-iphone-v1.jpg?auto=&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em;
}

.homeBanner{
  margin-left: 15em;
  max-width: 18em;
  line-height: 30px;
  background-color: rgba(10,10,10,0.7);
  padding: 1.5em;
  color: white;
  font-family: 'Merriweather-Light', Georgia, serif ;
  font-size: 23px;
}

.homeHeading > a {
  display: inline;
  margin-left: 0.2em;
}

.sidebar {
  width: 15em;
  margin: 2em;
  position: fixed;
}

.sidebar > h4 {
  color: #757575;
  padding-left: 20px;
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-family: 'OpenSans',Arial,sans-serif;
  font-weight: bold;
}

.navLinks{
  background: none;
  padding: 0 0;
}

.breadcrumb-item > a{
  color: #f8f9fad9;
  font-weight: lighter;
  font-family: 'Helvetica';
}

.active > a{
  pointer-events: none;
  cursor: default;
  color: white;
  font-weight: bolder;
}

.noResults{
  line-height: 6em;
  display: inline-block;

}

.pageLoading{
  height: 100vh;
  width: 100vw;
  background-color: #ebebeb;
  text-align: center;
  padding-top: 10em;
}

.listingSection{
  background-color: #ebebeb;
  min-height: 75vh;
}

.pagination {
  margin-bottom: 0;
}

.header{
  width: 100vw;
  min-height: 8em;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.subdomainSection{
  padding: 0 2em 2em 2em;
  text-align: center;
  max-width: 70em;
}

.productListing{

}

.headerInfo{
  padding: 0 2em;
  color: white;
  max-width: 70em;
  text-align: justify;
}

.productInfo > p {
  margin-bottom: 0;
}

.productInfo {
  margin: 2em 0;
}

.filterLabel{
  font-weight: bolder;
  color: black;
  margin: 0 0;
  display: inline;
}

.modalBtn{
  float: right;
}

.modalSubheading{
  font-size: 1.2em;
  color: grey;
}

.filtersBox{
  padding: 1em 2em;
  max-width: 70em;
}

.headerInfo > p {
  margin-top: 2em;
  font-size: 15px;
  font-family: Arial;
}

.productImg > img{
  max-width: 9em;
  max-height: 9em;
  display: block;
}

.instructorName{
  font-family: Arial;
  font-weight: 400;
}

nav {
  padding: 1em 0;
}

.subdomainHeading{
  text-align: left;
  font-family: sans-serif;
  font-size: 26px;
  padding-top: 0.5em;
}

.productItem{
  text-align: left;
  min-height: 8.5em;
}

.filterButtons{
  display: inline;
  max-width: 39em;
}

.filterBtn{
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 2em;
}


.toSubdomainBtn{
  margin-top: 1em;
  min-width: 6em;
  line-height: 2em;
  font-size: 1.2em;
}

.instructorName{
  text-align: center;
}

.instructorInfo{
  text-align: center;
}

.instructorPhoto{
  max-height: 5em;
  margin: 1em auto;
  display: block;
  border-radius: 100%;
}

.sidebarItem{
  line-height: 1.6em;
}

.specializationSize{
  display: inline-block;
  background-color: #969696;
  padding: 0.2em 0.5em;
  margin-right: 1em;
  color: white;
}

.partnerName{
  display: block;
  color: #b3b3b3;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media all and (min-width: 970px){
  .headerInfo, .filtersBox, .subdomainSection{
    margin-left: 16em;
  }
}

@media all and (max-width: 970px){
  .headerInfo, .filtersBox, .subdomainSection{
    margin: 0 auto;
  }
  .sidebar {
    display: none;
  }
  .main {
    display: block;
    position: absolute;
    top: 18em;
    left: 3em;
  }
  .catalogHome{
    height: 65em;
    padding-top: 3em;
  }
  .homeBanner{
    margin: 0 auto;
  }
}

@media all and (min-width: 800px){
  .main{
    top: 0;
  }
  .homeBanner{
    margin-left: 15em;
  }
  .catalogHome{
    height: 50em;
  }
}

@media all and (max-width: 768px){
  .instructorInfo{
    display: none;
  }
  .productImg > img{
    max-width: 8em;
    max-height: 8em;
  }
}

@media all and (min-width: 576px){
  .productImg > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

@media all and (max-width: 576px){
  .productImg > img {
    display: block;
    margin: 1em auto;
  }
  .productInfo{
    margin: 0 0 0 1em;
    text-align: center;
  }
  .numberLink{
    display: none;
  }
  .page-link{
    padding: 1em 20vw;
  }
}
